@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form-wrapper {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form-wrapper input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-form-wrapper button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FC8D68;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form-wrapper button:hover,.login-form-wrapper button:active,.login-form-wrapper button:focus {
  background: #FC8D68;
}
.login-form-wrapper .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.login-form-wrapper .message a {
  color: #FC8D68;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.link-forgot-password {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.link-forgot-password a {
  color: #FC8D68;
  text-decoration: none;
}

.title-sign-in {
  font-weight: 700;
  font-size: 30px;
  margin-block-end: 0px;
}

.paragraph-login {
  margin-block-start: 0px;
  margin-bottom: 30px;
  margin-top: 10px;
}